header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

header .container {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

header .container nav a + a {
  margin-left: 2rem;
}

header .card {
  width: 600px;
  border: 2px solid #fff;
  padding: 2rem 1.5rem;

  color: #fff;
}

header .card h1 {
  font-size: 3.7rem;
  font-weight: 250;
  text-transform: uppercase;
}

main .the-leader-in-interactive .container {
  display: flex;
  align-items: flex-end;
  margin-top: 4rem;
}

main .the-leader-in-interactive .background-leader-in-interactive {
  background-image: url(../images/desktop/image-interactive.jpg);
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
  width: 731px;
  height: 500px;
}

.card-leader-in-interactive {
  width: 500px;
  background: #fff;

  padding: 5rem 0 0 4rem;
  margin-left: -9rem;
}

.card-leader-in-interactive h1 {
  font-size: 2.5rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}

.card-leader-in-interactive p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.our-creations .content-our-creations {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
  margin-bottom: 1rem;
}

.our-creations .content-our-creations h1 {
  font-weight: 100;
}
.our-creations .content-our-creations a {
  color: #000;
  border: 1px solid #000;
  height: 2rem;
  width: 140px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.content-gallary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;

  margin-bottom: 6rem;
}

.content-gallary img {
  margin-top: 2rem;
}

footer {
  background: #000;
  color: #fff;
}

footer .content-footer {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

footer .content-footer .logo-footer img {
  margin-bottom: 2rem;
}

footer .content-footer .logo-footer nav a {
  color: #fff;
  text-decoration: none;
}
footer .content-footer .logo-footer nav a + a {
  margin-left: 2rem;
}

footer .icons {
  width: 100%;
  margin-bottom: 2rem;
  float: right;
  text-align: right;
}

footer .icons a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

footer .icons a + a {
  margin-left: 0.5rem;
}
